:root {
	--ltGreen: #e7f8f1;
	--green: #45df99;
	--drkGreen: #3cc584;
	--red: #f74135;
	--white: #fff;
	--vryLtGrey: #f9fafc;
	--ltGrey: #cbcbcb;
	--grey: #ababab;
	--drkGrey: #6d6e74;
	--black: #000;
	--background: #fbfbfb;;
	--sectionBorder: #f5f5f5;;
	--shadow: rgb(0 0 0 / 12%);
}
